<div id="wrapper" class="container-fluid display-table" ng-app="app">
    <div class="row display-table-row">
        <div class="col-md-2 col-sm-3 col-xs-8 display-table-cell vertical-align" id="side-navigation" ng-controller="navController">
            <h1>ERP</h1>
            <ul>
                <li class="navigation-link" ng-repeat="item in navItems" ng-class="{'active': isActive(item)}">
                    <a ng-if="!(item.subItems)" ng-href="{{item.href}}">
                        <span class="glyphicon glyphicon-{{item.icon}}" aria-hidden="true"></span>
                        <span>{{item.text}}</span>
                    </a>
                    <a ng-if="item.subItems" ng-click="item.active = !item.active" href="">
                        <span class="glyphicon glyphicon-{{item.icon}}" aria-hidden="true"></span>
                        <span>{{item.text}}</span>
                    </a>
                    <ul ng-if="item.subItems" class="collapseable">
                        <li ng-repeat="subItem in item.subItems">
                            <a ng-href="{{subItem.href}}">
                                <span class="glyphicon glyphicon-{{subItem.icon}}" aria-hidden="true"></span>
                                <span>{{subItem.text}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-10 col-sm-9 col-xs-4 display-table-cell vertical-align">
            <div class="row">
                <header id="main-header" class="clearfix">
                    <div class="col-sm-7 col-xs-12" id="page-location">
                        <strong>{{pageLocation}}</strong>
                    </div>
                    <div class="col-sm-5 col-xs-12">
                        <ul class="pull-right">
                            <li class="fix-width">
                                <a href="">
                                    <span class="label label-danger">1</span>
                                    <span class="glyphicon glyphicon-bell"></span>
                                </a>
                            </li>
                            <li class="fix-width">
                                <a href="">
                                    <span class="label label-success">0</span>
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </a>
                            </li>
                            <li><a href=""><span class="glyphicon glyphicon-log-out"></span> Đăng xuất</a></li>
                        </ul>
                    </div>
                </header>
            </div>
            <div class="row">
                <section id="main-section" ng-view></section>
            </div>
            <div class="row">
                <footer id="main-footer" class="clearfix"><strong>Copyright</strong>&copy;2015</footer>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Angular/App.js"></script>
    <script src="~/Angular/Service/navService.js"></script>
    <script src="~/Angular/navController.js"></script>
    <script src="~/Angular/Home/homeController.js"></script>
    <script src="~/Angular/Test/test1Controller.js"></script>
    <script src="~/Angular/Test/test2Controller.js"></script>
}